.sidebar {
    color: var(--color-blue);
    width: var(--sidebar-width);
    background-color: var(--panel-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    max-height: calc(100vh - 60px);
    overflow: hidden;
}

.sidebar h2 {
    font-weight: bold;
}

.sidebar::after {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
    width: 2px;
    background-color: var(--color-blue);
}

.sidebar ul {
    min-height: 0;
    flex-shrink: 1;
}

.sidebar ul li.active {
    color: white;
    font-weight: bold;
}

#suite_search_input {
    border: 2px solid var(--color-blue);
    border-radius: 4px;
}

#suite_create_button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--color-pink);
    color: white;
    border-radius: 8px;
    font-size: 0;
    position: relative;
}

#suite_create_button::before,
#suite_create_button::after {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 2px;
}

#suite_create_button::before {
    width: 16px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#suite_create_button::after {
    width: 3px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}